

{%- comment -%} ----- html ----- {%- endcomment -%}
<div>Collection Tabs</div>

<div>
  <ul class="tabs">
{% for block in section.blocks -%}
    <li class="tab"><span>{{  block.settings.collection.title }}</span></li>
{%- endfor %}
  </ul>
</div>

{%- comment -%} ----- stylesheet ----- {%- endcomment -%}
<style>
.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.tab {
  flex-grow: 1;
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px 15px 5px;
}
.tab span {
  cursor: pointer;
  white-space: nowrap;
}
.hide_content {
  display: none;
}
<style>
  
{% schema %}
  {
    "name": "コレクションタブ",
    "settings": [],
    "templates": ["index"],
    "max_blocks": 6,
    "blocks": [
     {
       "name": "コレクション",
       "type": "collection",
       "settings": [
         {
           "type": "collection",
           "id": "collection",
           "label": "コレクション"
         }
       ]
     }
    ],
    "presets": [
      {
        "name": "コレクションタブ",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}